/* *{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 160px;
    margin-right: 160px;
} */
.id{
  background-color: #F1F1F3;
}
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.header{
    /* background-color: #FFFFFF ; */
     margin-right: 160px;
    margin-left: 160px;
}
.div-1{
    padding: 117px 60px;
}
.New{
    color: white;
    background-color:#006A50;
    padding:17px 34px;
    border-radius: 10px;
}
.div-2{
    padding: 80px 60px;

}
.sign{
    display: flex;
    justify-content: space-between;
     margin-right: 160px;
    margin-left: 160px;
}

.body{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 24px;


   
}
.in{
    font-size: 18px;
   font-weight: 400;
   margin: 20px;
    color: #006A50;
    border:1px solid #006A50;
    border-radius: 5px;
    padding: 15px 30px;
}
.main{
     margin-right: 160px;
    margin-left: 160px;
   
}
.Pillars{
    margin-top: 80px;
    /* background-color: #FFFFFF; */
}
.vosion{
    margin-top: 80px;
    /* background-color: #FFFFFF; */
}
.pillar{
    display: flex;
    gap: 24px;
   
    
}
.card{
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2);
     padding:24px;
     gap: 5px;
     border-radius: 1px;
}

.learn{
    
     gap:24px; 
     display: flex; 
     
}
.Digtal{
   background-color: #BBD1F5;
   border-radius: 10px;
   gap: 24px; 
   padding: 32px;
   
}
.btn-1{
    color: white;
    background-color: #5490F5;
    border-radius: 10px;
    padding: 10px;
    
}
.Green{
     background-color: #C6E4D6;
   border-radius: 10px;
   gap: 24px;
   padding: 32px;
}
.Green button{
     color: white;
    background-color: #09A15C;
    border-radius: 10px;
    padding: 10px; 
}
.Modern{
    background-color: #F7EBCF;
   border-radius: 10px;
   gap: 24px;
   padding: 32px;
}
.btn-3{
     color: white;
    background-color: #FFC239;
    border-radius: 10px;
    padding: 10px; 
}
.yunus{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 10px 26px;
    margin-top: 32px;
    background-color: #FFFFFF;
}
.Qu{
     margin-top: 32px;
    padding: auto;
    background-color: #FFFFFF;
}
.table{
     border: 1px solid #ccc;
      border-radius: 5px;
       max-width: auto;
}
.thead{
    background-color: #e0f2e0;
     padding: 15px; 
     display: flex;
    justify-content:space-between; 
    border-radius:top left 5px, top right 5px; 
    font-weight: bold;
}
.tbody-1{
    display: flex; justify-content: space-between; 
    align-items: center; padding: 15px 0; border-bottom: 1px solid #eee;
}
.tbody-2{
    display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #eee;
}
.tbody-3{
  display: flex;
   justify-content: space-between; 
  align-items: center;
   padding: 15px 0;
}
.t1{
  padding: 8px 10px;
   border: 1px solid #ccc;
   border-radius: 4px; 
  background-color: #f0fff0;
}
.recent{
  margin-top: 80px;
  
}
.aims{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  padding: 48px;
  background-color: #FFFFFF;

}
.btn-2{
  color: white;
    background-color: #006A50;
    border-radius: 10px;
    padding: 10px;
    gap: 32px;
}
.Donate{
  justify-content: center;
  text-align: center;
  gap: 32px;
}
.btn-bg{
  padding: 15px 25px;
  justify-content: center;
  display: flex;
  gap: 32px;

}
.bg-1{
     padding: 40px;
    border: 1px solid #ddd;
    border-radius: 16px;
    background-color: #f9f9f9;
    font-size: 16px;
}
.bg-2{
   padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #C6E4D6;
    font-size: 16px;
}
.do{
    padding: 10px 5px;
  background-color: #FFFFFF;
   gap: 32px;
  font-size: 20px;
  border: none;
}
.sub-bg{
  text-align: center;
  margin-top: 80px;
  justify-content: space-between;
  border-radius: 24px;
  padding: 48px;
  background-color: #C6E4D6;
}
.em{
  display: flex;
  text-align: center;
  justify-content: center;
 
}
.btn-5{
   color: white;
    background-color: #006A50;
    border-radius: 10px;
    padding: 10px;
    margin-top: 32px;
}
.sub-1{
  padding: 15px 25px;
  background-color: #FFFFFF;
   gap:24px;
   border-radius: 8px;
  font-size: 20px;
}
.sub-2{
 padding: 15px 25px;
 color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #006A50;
    font-size: 16px;
}
.footer{
  text-align: center;
  justify-content: center;
  padding: 160px 50px;
  background-color: #ffffff;
  margin-top: 80px;
}
.a{
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 32px;
}


